body{
    text-align:center;
    background-image: url("../img/q.png");
    background-size: cover;
}

.jumbotron {
    background-color: rgba(148, 181, 157, 0);
}

#directions {
    background-color:#94b59d;
    font-size: 2em;    
    width:900px;
    height:320px;
    margin:0 auto;
    border-radius:20px;
}