body {
    background-image: linear-gradient(#768db3,  #0040ab, #01050d);
    color: white;
}

header, nav, footer {
    text-align: center;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

#me, #welcome {
    float: left;
}

footer {
    clear: left;
    size: 1.5em;
    color: #002a4e;
    width: 100%;
}

#logo {
    width: 140px;
}

#current {
    color: black;
}

ul {
    text-align: left;
    padding-left: 200px;
}

h1 {
    font-size: 4em;
    margin-bottom: 0px;
}

.banner-home {
    background-image: url("../img/dark.jpg");
    height: 60vh;
    position: relative;
    background-size: cover;
}

.banner-nn {
    background-image: url("../img/nn.jpeg");
    height: 80vh;
    position: relative;
    background-size: cover;
}

.banner-conv {
    background-image: url("../img/conv.jpeg");
    height: 80vh;
    position: relative;
    background-size: cover;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

.container {
    column-count: 1;
    height: 320px;
    padding-top: 40px;
    background-color: transparent;
}

.body-text{
    color: white;
    font-size: 20px;
    text-align: center;
}

footer {
    clear: left;
    size: 1.5em;
    width: 100%;
    color: white;
}

.top-bar {
    border-top: 1px solid red;
    width: 50%;
}
