.top-banner{
    background-image: url('../img/top.jpg');
    margin: 0px;
    height: 158px;
}

.rules{
    color: white;
    font-size: 20px;
}

.top{
    color: white;
}

#slot-machine{
    margin-top: 40px;
    margin-bottom: 20px;
}

#spin{
    width: 120px;
}

.bkgrd {
  height: 1080px;
  background-image: url('../img/card.jpg');
  background-repeat: repeat;
}