.top-banner{
    background-image: url('../img/top.jpg');
    margin: 0px;
    height: 158px;
}

.rules{
    color: white;
    font-size: 20px;
}

.top{
    color: white;
}

#slot-machine{
    margin-top: 40px;
    margin-bottom: 20px;
}

#spin{
    width: 120px;
}

.bkgrd {
  height: 1080px;
  background-image: url('../img/card.jpg');
  background-repeat: repeat;
}

.error{
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.bal {
    background-color: white;
    color: green;
    font-size: 30px;
}

.bal-div{
    display: inline-block;
}

.winner {
    color: green;
    font-size: 50px;
}

.loser{
    color: white;
    font-size: 30px;
}

footer{
    color: grey;
    text-align: center;
}